header {
  background-color: #413d63;
  height: 130px;
  margin-bottom: 0px;
}
footer{
  background-color: #413d63;
  color:#d5ba8a;
  text-align: center;
  margin-top: 100px;
}
body {
  background-color: #7d84a0;
}
table {
  border-collapse: collapse;
  border: 0px solid #67628b;
  background-color: #413d63;
  color: #d5ba8a;
  font-size: 30px;
  font-family: Arial, sans-serif;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}
td{
  padding: 10px;
  background-color: #d5ba8a;
  color: #67628b;
  border-bottom: 3px dotted #67628b;
}
th{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #67628b;
  font-size: 50px;
  font-family: Lucida Bright, serif;
  font-weight: bold;
  text-align: center;
  border-bottom: 6px solid #413d63;
}
h1 {
  background-color: #67628b;
  font-size: 50px;
  font-family: Lucida Bright, serif;
  font-weight: bold;
  text-align: center;
  color: #d5ba8a;
}
h2{
  font-family: Lucida Bright, serif;
  color: #d5ba8a;
}
p {
  color: #413d63;
  font-size: 20px
}
hr {
  border-top: 1px solid #413d63;
  border-bottom: 1px solid #413d63;
}

#returnButton{
  width: 150px;
  background-color :#d5ba8a;
  color: #413d63;
  font-weight: bold;
  font-size :20px;
  border-radius:10px;
  padding:10px;
  margin : 10px;
}
.returnLogin {
  text-align: right;
}
#navlink {
  display: block;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  margin: 0px;
}
#footer {
  background-color: #67628b;
  padding: 1px;
}
#navigate {
  margin-top: 5px;
  margin-bottom: 0px;

  width: 98.5%;
}
#navtd {
  border: 5px solid #413d63;
  border-bottom: 4px solid #67628b;
  width: 16.4%;
  text-align: center;
  font-weight: bold;
}

#welcome {
  font-size: 25px;
  color: #d5ba8a;
  text-align: right;
  vertical-align: text-top;
  margin: 4px;
  margin-right: 30px;
}
#description {
  width: 70%;
  border-left: 2px solid #67628b;
  font-size: 25px;
  color: #7d84a0;
  padding-left: 30px;
  font-style: italic;
}
#postData {
  display: none;
  width: 100%;
}
.postData {
  display: none;
  width: 100%;
}
#postTopic {
  width: 20%;
}
#postName {
  width: 20%;
}
#postNameP {
  width: 20%;
  border-left: 2px solid #67628b;
  padding-left: 60px;
  font-weight: bold;
}
#postDescription {
  width: 50%;
  border-left: 2px solid #67628b;
  font-size: 25px;
  color: #7d84a0;
  padding-left: 30px;
  font-style: italic;
}
#postContent {
  font-style: normal;
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 2px solid #67628b;
}
#postInfo {
  width: 20%;
  border-left: 2px solid #67628b;
  font-size: 25px;
  color: #7d84a0;
  padding-left: 30px;
  font-style: italic;
}
#postInput {
  width: 10%;
  border-left: 2px solid #67628b;
  font-size: 25px;
  color: #7d84a0;
  padding-left: 30px;
  font-style: italic;
}

#box {
    background-color: #d5ba8a;
    width: 100%;
    padding-top: 6px;
    height: 220px;
    overflow: hidden;
}

#box textarea {
    width: 30%;
    margin: 6px;
    font-size: 20px;
    padding: 6px;
}

#box #subject {
    margin-left: 10%;
}

#box #desc {
    margin-left: 18%;
}

#box #content {
    width: 98%;
}
#sbmt {
  margin-left: auto;
  margin-right: auto;
}

#menuTable {
  display: inline-table;

  margin-right: 0px;
  margin-left: 250px;
  width: 1200px;
}

#menuImage {
  position: absolute;
  display: inline;
  margin-top: 100px;
  margin-right: 50px;
  width: 200px;
  height: 890px;
}

.slidershow {
  width: 1200px;
  height: 400px;
  overflow: hidden;
}
.middle {
  margin-bottom: 100px;
  margin-left: 250px;
  margin-right: auto;
  margin-top: auto;
}
.navigation {
  position: absolute;
  margin-left: 425px;

  display: flex;
}
.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #d5ba8a;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover {
  background: #d5ba8a;
}
.postDataInput {
  color: #00FF00;
}
.textInput {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}

input[name="tableBut"], input[id="closePost"], button{
  background-color: #413d63;
  color: #d5ba8a;
  height: 30px;
  width: 100px;
  font-weight: bold;
  font-size: 17px;
  display:block;
  transition: 0.4s;
}
input[name="tableBut"]:hover, input[id="closePost"]:hover, button:hover{
  background-color: #7d84a0;
}
button[name="submit"]
{
  margin-bottom: 100px;
}
input[id="closePost"] {
  margin-top: 100px;
  margin-left: auto;
  margin-right: 30px;
  display: none;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}
